Repository bedita/bedita, pull requests merged in 2018-06, with the labels that each got.

#1490 Add local cache of JSON Schema Draft-06 meta schema
  plugins/BEdita/Core/src/Model/Validation/Validation.php
  plugins/BEdita/Core/src/Model/Validation/schemas/draft-06.json
Labels: Priority - High, Topic - Core, Type - Task

#1487 Object status filter on applications #1485
  plugins/BEdita/API/src/TestSuite/IntegrationTestCase.php
  plugins/BEdita/API/tests/IntegrationTest/StatusLevelTest.php
  plugins/BEdita/API/tests/TestCase/Auth/EndpointAuthorizeTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/ApplicationsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/ConfigControllerTest.php
  plugins/BEdita/API/tests/TestCase/TestSuite/IntegrationTestCaseTest.php
  plugins/BEdita/Core/config/Migrations/20180525181318_AddConfigApplicationId.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Configure/Engine/DatabaseConfig.php
  plugins/BEdita/Core/src/Model/Action/GetObjectAction.php
  plugins/BEdita/Core/src/Model/Action/ListObjectsAction.php
  plugins/BEdita/Core/src/Model/Action/ListRelatedObjectsAction.php
  plugins/BEdita/Core/src/Model/Entity/Config.php
  plugins/BEdita/Core/src/Model/Table/ConfigTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/State/CurrentApplication.php
  plugins/BEdita/Core/tests/Fixture/ConfigFixture.php
  plugins/BEdita/Core/tests/TestCase/Configure/Engine/DatabaseConfigTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/BaseActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/GetObjectActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListRelatedObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ConfigTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ConfigTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/State/CurrentApplicationTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/DatabaseTest.php
Labels: Priority - High, Topic - Core, Type - Enhancement

#1491 Schema on disabled types and hidden properties
  plugins/BEdita/API/tests/TestCase/Controller/Model/SchemaControllerTest.php
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
Labels: Priority - High, Type - Bug

#1478 Postman update with folders and external auth/signup
  plugins/BEdita/API/postman/BE4-template.postman_environment.json
  plugins/BEdita/API/postman/BE4.postman_collection.json
Labels: Priority - Low, Topic - API

#1496 Include related entities in related endpoint
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Controller/ResourcesController.php
  plugins/BEdita/API/tests/IntegrationTest/AssociatedEntitiesTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ResourcesControllerTest.php
  plugins/BEdita/Core/src/Model/Action/ListRelatedObjectsAction.php
  plugins/BEdita/Core/tests/Fixture/RelationTypesFixture.php
Labels: Priority - High, Topic - API, Type - Enhancement

#1488 Application configuration #1486
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/ConfigController.php
  plugins/BEdita/API/tests/TestCase/Controller/ConfigControllerTest.php
  plugins/BEdita/Core/src/Model/Table/ConfigTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ConfigTableTest.php
Labels: Priority - High, Topic - API, Type - New Feature

#1497 Only canonical plural form as object endpoint
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
Labels: Priority - High, Topic - API, Type - Bug

#1498 Translations model
  plugins/BEdita/API/tests/TestCase/Controller/FoldersControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ResourcesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/RolesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/UsersControllerTest.php
  plugins/BEdita/API/tests/TestCase/Utility/JsonApiTest.php
  plugins/BEdita/Core/config/Migrations/20180614080050_AddTranslationsTable.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/ObjectEntity.php
  plugins/BEdita/Core/src/Model/Entity/Translation.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/TranslationsTable.php
  plugins/BEdita/Core/src/Model/Validation/SqlConventionsValidator.php
  plugins/BEdita/Core/tests/Fixture/TranslationsFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectEntityTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/TranslationsTableTest.php
Labels: Priority - High, Topic - ORM, Type - New Feature

#1500 Add option to move siblings when updating a child's priority
  bedita-app/controllers/api_base_controller.php
Labels: Priority - Normal, Topic - API, Type - Bug
