Repository bedita/bedita, pull requests merged in 2018-03, with the labels that each got.

#1425 Avoid errors on blank `email`
  plugins/BEdita/API/tests/TestCase/Controller/UsersControllerTest.php
  plugins/BEdita/Core/src/Model/Table/ProfilesTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ProfilesTableTest.php
Labels: Priority - High, Topic - ORM

#1434 Roles in `/auth/user`
  plugins/BEdita/API/src/Controller/LoginController.php
  plugins/BEdita/API/tests/TestCase/Controller/LoginControllerTest.php
Labels: Topic - API, Type - Enhancement

#1435 Login authorization
  plugins/BEdita/API/src/Controller/LoginController.php
  plugins/BEdita/API/tests/TestCase/Controller/LoginControllerTest.php
  plugins/BEdita/Core/tests/Fixture/EndpointPermissionsFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/EndpointPermissionsTableTest.php
Labels: Priority - High, Topic - Security, Type - Bug

#1433 Chore: LocalAdapter path + test
  plugins/BEdita/Core/src/Filesystem/Adapter/LocalAdapter.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Adapter/LocalAdapterTest.php
Labels: Priority - Normal, Topic - Core, Topic - Tests

#1436 Thumbnails
  Dockerfile
  config/app.default.php
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/MediaController.php
  plugins/BEdita/API/src/Controller/StreamsController.php
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/IntegrationTest/MetadataTest.php
  plugins/BEdita/API/tests/IntegrationTest/PaginationTest.php
  plugins/BEdita/API/tests/TestCase/Controller/LoginControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/StreamsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/UsersControllerTest.php
  plugins/BEdita/Core/composer.json
  plugins/BEdita/Core/config/bootstrap.php
  plugins/BEdita/Core/src/Filesystem/Exception/InvalidStreamException.php
  plugins/BEdita/Core/src/Filesystem/Exception/InvalidThumbnailOptionsException.php
  plugins/BEdita/Core/src/Filesystem/GeneratorInterface.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail/AsyncGenerator.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail/GlideGenerator.php
  plugins/BEdita/Core/src/Filesystem/ThumbnailGenerator.php
  plugins/BEdita/Core/src/Filesystem/ThumbnailRegistry.php
  plugins/BEdita/Core/src/Job/Service/ThumbnailService.php
  plugins/BEdita/Core/src/Model/Table/StreamsTable.php
  plugins/BEdita/Core/tests/Fixture/MediaFixture.php
  plugins/BEdita/Core/tests/Fixture/ObjectsFixture.php
  plugins/BEdita/Core/tests/Fixture/StreamsFixture.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/AsyncGeneratorTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/GlideGeneratorTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/TestGenerator.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/ThumbnailGeneratorTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/ThumbnailRegistryTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/ThumbnailTest.php
  plugins/BEdita/Core/tests/TestCase/Job/Service/ThumbnailServiceTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/StreamsTableTest.php
  plugins/BEdita/Core/tests/thumbnails/6aceb0eb-bd30-4f60-ac74-273083b921b6-bedita-logo-gray.gif/7712de3f48d7ecb9b473cc12feb34af1af79309e.gif
  plugins/BEdita/Core/tests/thumbnails/e5afe167-7341-458d-a1e6-042e8791b0fe-bedita-logo.png/ef5b382f91ad45aff0e33b89e6677df31fcf6034.png
  plugins/BEdita/Core/tests/uploads/6aceb0eb-bd30-4f60-ac74-273083b921b6-bedita-logo-gray.gif
  tests/bootstrap.php
Labels: Priority - High, Topic - API, Type - New Feature
