Repository bedita/bedita, pull requests merged in 2019-02, with the labels that each got.

#1590 Add `media_url` property
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/Core/src/Model/Entity/Media.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/MediaTest.php
Labels: Priority - Normal, Topic - API

#1592 Apply defaults only on new objects (id available)
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/DataCleanupBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/DataCleanupBehaviorTest.php
Labels: Priority - Normal

#1586 Google maps settings in config
  bedita-app/config/bedita.cfg.php.sample
  bedita-app/views/elements/form_geotag.tpl
Labels: Priority - Normal, Type - Bug

#1594 Fix/v4/uploading xml or json
  plugins/BEdita/API/src/Controller/StreamsController.php
  plugins/BEdita/API/tests/TestCase/Controller/StreamsControllerTest.php
Labels: Priority - High, Topic - API, Type - Bug
