Repository bedita/bedita, pull requests merged in 2020-09, with the labels that each got.

#1715 fix: disable autosave, on submit fail
  bedita-app/views/elements/form_common_js.tpl
Labels: Priority - Normal, Topic - Modules, Type - Bug

#1727 Save relation metadata in `PATCH /folders/{id}/parent` (#1726)
  plugins/BEdita/API/tests/TestCase/Controller/FoldersControllerTest.php
  plugins/BEdita/Core/src/Model/Action/SetAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/UpdateRelatedObjectsAction.php
Labels: Priority - High, Topic - API, Type - Bug

#1729 Add endpoint_permissions to resource utility
  plugins/BEdita/Core/src/Model/Entity/EndpointPermission.php
  plugins/BEdita/Core/src/Model/Table/ConfigTable.php
  plugins/BEdita/Core/src/Model/Table/EndpointPermissionsTable.php
  plugins/BEdita/Core/src/Utility/Resources.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/EndpointPermissionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/EndpointPermissionsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ResourcesTest.php
Labels: Priority - Normal, Topic - Core, Type - Enhancement
