Repository bedita/bedita, pull requests merged in 2021-09, with the labels that each got.

#1816 Fix handle youtube, vimeo
  bedita-app/config/bedita.ini.php
  bedita-app/controllers/components/be_vimeo.php
Labels: Type - Bug, Topic - Core, Priority - High

#1753 New `history_editor` finder & filter
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/Core/src/Model/Behavior/HistoryBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/HistoryBehaviorTest.php
Labels: Topic - API

#1749 Fix notice Undefined index url in app controller
  bedita-app/app_controller.php
Labels: Priority - Normal

#1818 More tables searchable
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/Core/src/Model/Table/AnnotationsTable.php
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/src/Model/Table/PropertyTypesTable.php
  plugins/BEdita/Core/src/Model/Table/TagsTable.php
  plugins/BEdita/Core/src/Model/Table/TranslationsTable.php
Labels: Topic - Core, Priority - High, Type - New Feature

#1820 fix: removed nowrap mimetype table and elasticsearch tooltip position
  bedita-app/views/elements/form_assoc_object.tpl
  bedita-app/webroot/css/bedita.css
Labels: Type - Bug, Topic - UI, Priority - Normal

#1823 Fix/v4/generate unique uname
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/UniqueNameBehavior.php
  plugins/BEdita/Core/src/Model/Table/FoldersTable.php
  plugins/BEdita/Core/src/Model/Validation/ObjectsValidator.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UniqueNameBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/LocationsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/MediaTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ProfilesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/UsersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/LocationsValidatorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/MediaValidatorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/ObjectsValidatorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/ProfilesValidatorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/UsersValidatorTest.php
Labels: Topic - Core

#1824 feat: add provider to video searchable fields
  bedita-app/models/objects/content/video.php
Labels: Type - Task, Topic - Core, Priority - Normal

#1825 Fix: UpdateRelatedObjectsActions::prepareData, on multiple relatedEntities
  plugins/BEdita/Core/src/Model/Action/UpdateRelatedObjectsAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/AddRelatedObjectsActionTest.php
Labels: Type - Bug, Topic - Core, Priority - High

#1826 #1740 filter related object error
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/Core/src/ORM/Association/RelatedTo.php
  plugins/BEdita/Core/src/ORM/Inheritance/Query.php
  plugins/BEdita/Core/tests/TestCase/ORM/Association/RelatedToTest.php
Labels: Type - Bug, Topic - Core, Priority - High, Topic - ORM

#1822 Add stream metadata
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/Core/config/Migrations/20210910111921_AddStreamMetadata.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/Stream.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/StreamTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/JsonSchemaTest.php
  plugins/BEdita/Core/tests/uploads/a4fbe302-3d5b-4774-a9df-18598def690e-image-metadata.jpeg
Labels: Topic - Core, Topic - Database

#1827 get /model/schema/:type, all relations
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
Labels: Type - Bug, Topic - Core, Priority - Normal

#1828 Optimize allow_to_user filter
  bedita-app/models/behaviors/build_filter.php
Labels: Topic - Core, Topic - Database, Priority - High
