Repository bedita/bedita, pull requests merged in 2021-11, with the labels that each got.

#1836 Applications endpoint
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/ApplicationsController.php
  plugins/BEdita/API/tests/TestCase/Controller/ApplicationsControllerTest.php
Labels: Priority - Normal, Type - New Feature, Topic - API

#1831 Use MySQL 8 as default for dump file & CI
  .github/workflows/tests.yml
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/tests/TestCase/Shell/Task/CheckSchemaTaskTest.php
Labels: Topic - Tests, Topic - Integration

#1839 Trees.menu default off
  plugins/BEdita/Core/config/Migrations/20211111102130_TreeMenuOff.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
Labels: Type - Enhancement, Topic - Core, Topic - Database, Priority - Normal

#1841 Add pseudonym to profile
  plugins/BEdita/API/tests/TestCase/Controller/AppControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/RolesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/UsersControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20211126070240_ProfilePseudonym.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/Profile.php
  plugins/BEdita/Core/src/Model/Table/ProfilesTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ProfilesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/JsonSchemaTest.php
Labels: Topic - Core, Topic - Database, Priority - Normal, Type - New Feature
