Repository bedita/bedita, pull requests merged in 2021-02, with the labels that each got.

#1761 Layered cache
  plugins/BEdita/Core/src/Cache/Engine/LayeredEngine.php
  plugins/BEdita/Core/tests/TestCase/Cache/Engine/LayeredEngineTest.php
Labels: Topic - Performance

#1768 Restore original inherited table alias after cascading to parent finder
  plugins/BEdita/Core/src/ORM/Inheritance/Table.php
  plugins/BEdita/Core/tests/TestCase/ORM/Inheritance/TableTest.php
Labels: Priority - High, Topic - ORM, Type - Bug

#1772 Fix /home authorization check on object types endpoints
  plugins/BEdita/API/src/Auth/EndpointAuthorize.php
  plugins/BEdita/API/src/Controller/HomeController.php
  plugins/BEdita/API/tests/TestCase/Auth/EndpointAuthorizeTest.php
  plugins/BEdita/API/tests/TestCase/Controller/HomeControllerTest.php
Labels: Priority - High, Topic - API, Type - Bug

#1769 Display only "available" children and parents
  .github/workflows/components.yml
  .github/workflows/tests.yml
  plugins/BEdita/Core/src/Model/Table/FoldersTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
Labels: Priority - Normal, Topic - Core, Type - Bug

#1773 Fix `?include` check
  plugins/BEdita/API/src/Controller/AppController.php
  plugins/BEdita/API/src/Controller/FoldersController.php
  plugins/BEdita/API/src/Controller/LoginController.php
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Controller/ResourcesController.php
  plugins/BEdita/API/src/Controller/TreesController.php
  plugins/BEdita/API/tests/TestCase/Controller/FoldersControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/RelationsBehavior.php
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/src/ORM/Association/RelatedTo.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
  plugins/BEdita/Core/tests/TestCase/ORM/Association/RelatedToTest.php
Labels: Priority - High, Topic - ORM, Type - Bug

#1774 `uname` allowed in relationship management
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Model/Action/UpdateRelatedAction.php
  plugins/BEdita/API/tests/IntegrationTest/RelationshipsParamsTest.php
  plugins/BEdita/API/tests/TestCase/Model/Action/UpdateRelatedActionTest.php
Labels: Priority - High, Topic - API, Type - Enhancement

#1771 Better isolation within test cases
  plugins/BEdita/Core/config/Migrations/20200708142319_ConfigChangePrimaryKey.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ChangeCredentialsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ChangeCredentialsRequestActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SignupUserActivationActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/GeometryBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/HistoryBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UserModifiedBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ProfileTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/UserTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ExternalAuthTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ProfilesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/UsersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/BeditaShellTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/PropertiesTest.php
Labels: Priority - Normal, Topic - Tests, Type - Task

#1778 Expose available custom properties getting related object
  plugins/BEdita/API/tests/IntegrationTest/AssociatedEntitiesTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
Labels: Priority - Normal, Topic - Core, Type - Enhancement
