Repository bedita/bedita, pull requests merged in 2021-05, with the labels that each got.

#1795 Ensure custom properties results formatter is prepended
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
Labels: Priority - High, Topic - ORM, Type - Bug

#1710 JSON Schema associations and relations metadata
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/JsonSchemaTest.php
Labels: Topic - API, Type - Enhancement

#1790 Endpoints permissions cache
  plugins/BEdita/API/src/Auth/EndpointAuthorize.php
  plugins/BEdita/API/tests/TestCase/Auth/EndpointAuthorizeTest.php
  plugins/BEdita/API/tests/TestCase/Controller/LoginControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/QueryCacheBehavior.php
  plugins/BEdita/Core/src/Model/Table/ApplicationsTable.php
  plugins/BEdita/Core/src/Model/Table/ConfigTable.php
  plugins/BEdita/Core/src/Model/Table/EndpointPermissionsTable.php
  plugins/BEdita/Core/src/Model/Table/EndpointsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/QueryCacheBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ApplicationsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ConfigTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/EndpointPermissionsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/EndpointsTableTest.php
Labels: Topic - Core, Topic - Performance

#1796 Filter `publish_start` and `publish_end`
  plugins/BEdita/API/tests/IntegrationTest/PublishStartEndTest.php
  plugins/BEdita/Core/src/Model/Action/GetObjectAction.php
  plugins/BEdita/Core/src/Model/Action/ListObjectsAction.php
  plugins/BEdita/Core/src/Model/Action/ListRelatedObjectsAction.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
Labels: Topic - Core, Type - Enhancement
