Repository bedita/bedita, pull requests merged in 2021-01, with the labels that each got.

#1754 Avoid to use real properties as virtual properties
  plugins/BEdita/Core/src/Model/Entity/EndpointPermission.php
  plugins/BEdita/Core/src/Model/Table/EndpointPermissionsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/EndpointPermissionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/EndpointPermissionsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ResourcesTest.php
Labels: Priority - Critical, Topic - Core, Type - Bug

#1757 Add virtual property object_type_name to Endpoint Entity
  plugins/BEdita/Core/src/Model/Entity/Endpoint.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/EndpointTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ResourcesTest.php
Labels: Priority - High, Topic - Core, Type - Enhancement

#1758 Fix publish components action
  .github/workflows/components.yml
  plugins/BEdita/Core/tests/TestCase/Model/Entity/EndpointTest.php
Labels: Priority - Critical

#1760 Remove useless inline docblock, fix phpstan weirdness
  .github/workflows/tests.yml
  plugins/BEdita/API/src/Controller/ObjectsController.php
Labels: Priority - Normal, Type - Task

#1762 Dispatch events when adding, removing, or replacing associations
  plugins/BEdita/Core/src/Model/Action/AddAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/AddRelatedObjectsAction.php
  plugins/BEdita/Core/src/Model/Action/AssociatedTrait.php
  plugins/BEdita/Core/src/Model/Action/RemoveAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/RemoveRelatedObjectsAction.php
  plugins/BEdita/Core/src/Model/Action/SetAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/SetRelatedObjectsAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/AddAssociatedActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/AddRelatedObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/RemoveAssociatedActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/RemoveRelatedObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SetAssociatedActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SetRelatedObjectsActionTest.php
Labels: Topic - Core, Type - Enhancement
