Repository bedita/bedita, pull requests merged in 2021-03, with the labels that each got.

#1780 External Auth Signup: add `verified`, remove reference on `anonymize`
  plugins/BEdita/API/src/Auth/OAuth2Authenticate.php
  plugins/BEdita/Core/src/Model/Action/SignupUserAction.php
  plugins/BEdita/Core/src/Model/Table/UsersTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SignupUserActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/UsersTableTest.php
Labels: Priority - High, Topic - Authentication

#1784 Reload ObjectType entity to load related type's relations
  plugins/BEdita/API/tests/IntegrationTest/AssociatedEntitiesTest.php
  plugins/BEdita/Core/src/ORM/Association/RelatedTo.php
  plugins/BEdita/Core/tests/TestCase/ORM/Association/RelatedToTest.php
Labels: Priority - High, Topic - ORM, Type - Bug

#1786 Drop PHP 7.1
  .github/workflows/tests.yml
  composer.json
  plugins/BEdita/API/composer.json
  plugins/BEdita/Core/composer.json
Labels: Priority - Low, Topic - Tests

#1788 Tags creation in CategoriesBehavior
  plugins/BEdita/Core/src/Model/Behavior/CategoriesBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CategoriesBehaviorTest.php
Labels: Priority - Normal, Topic - Core

#1767 Status level check
  plugins/BEdita/Core/src/Model/Behavior/DataCleanupBehavior.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/DataCleanupBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
Labels: Priority - Normal, Topic - API, Type - Bug
