Repository bedita/bedita, pull requests merged in 2021-12, with the labels that each got.

#1840 `password_modified` read-only property
  plugins/BEdita/API/tests/TestCase/Auth/JwtAuthenticateTest.php
  plugins/BEdita/API/tests/TestCase/Controller/AppControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/RolesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/UsersControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20211125105831_PasswordCreated.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/User.php
  plugins/BEdita/Core/tests/Fixture/UsersFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/JsonApiTraitTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/UserTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/JsonSchemaTest.php
Labels: Topic - Core, Topic - Database

#1844 Improve OAuth2 check
  plugins/BEdita/API/src/Auth/OAuth2Authenticate.php
  plugins/BEdita/Core/src/Model/Action/SignupUserAction.php
  plugins/BEdita/Core/src/Utility/OAuth2.php
  plugins/BEdita/Core/tests/TestCase/Utility/OAuth2Test.php
Labels: Topic - Authentication, Topic - API

#1846 Improve Tags module
  bedita-app/controllers/modules/tags_controller.php
  bedita-app/controllers/modules/users_controller.php
  bedita-app/models/category.php
  bedita-app/views/elements/filters.tpl
  bedita-app/views/elements/filters_form.tpl
  bedita-app/views/helpers/be_paginator_toolbar.php
  bedita-app/views/tags/inc/toolbar.tpl
  bedita-app/views/tags/index.tpl
  bedita-app/views/users/groups.tpl
  bedita-app/views/users/inc/index_groups.tpl
  bedita-app/views/users/inc/list_users.tpl
  bedita-app/views/users/inc/toolbar.tpl
  bedita-app/views/users/index.tpl
Labels: Type - Enhancement, Topic - Modules, Priority - Normal

#1849 Renew token expiry
  plugins/BEdita/API/src/Utility/JWTHandler.php
  plugins/BEdita/API/tests/TestCase/Utility/JWTHandlerTest.php
Labels: Type - Bug, Priority - Critical, Topic - API

#1847 Tags lazy loading in filters
  bedita-app/app_controller.php
  bedita-app/controllers/modules/events_controller.php
  bedita-app/controllers/modules/multimedia_controller.php
  bedita-app/controllers/modules/tags_controller.php
  bedita-app/controllers/pages_controller.php
  bedita-app/models/category.php
  bedita-app/views/elements/filters_form.tpl
  bedita-app/views/home/index.tpl
  bedita-app/views/pages/show_objects.tpl
  bedita-app/webroot/js/beditaUI.js
Labels: Type - Enhancement, Topic - Modules, Priority - Normal, Topic - Performance
