Repository bedita/bedita, pull requests merged in 2021-04, with the labels that each got.

#1789 chore: remove custom exception renderer behaviour
  plugins/BEdita/API/config/bootstrap.php
Labels: Priority - Normal, Topic - API

#1765 Db config and applications cache
  config/app.default.php
  config/bootstrap.php
  plugins/BEdita/Core/src/Configure/Engine/DatabaseConfig.php
  plugins/BEdita/Core/src/Model/Table/ApplicationsTable.php
  plugins/BEdita/Core/src/Model/Table/ConfigTable.php
  plugins/BEdita/Core/src/State/CurrentApplication.php
  plugins/BEdita/Core/tests/TestCase/Configure/Engine/DatabaseConfigTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ApplicationsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ConfigTableTest.php
  plugins/BEdita/Core/tests/TestCase/State/CurrentApplicationTest.php
Labels: Priority - High, Topic - Core, Topic - Performance

#1751 Activate routes cache
  src/Application.php
  tests/bootstrap.php
Labels: Topic - API, Topic - Performance

#1791 Update to composer 2
  .github/workflows/tests.yml
  composer.json
  plugins/BEdita/API/composer.json
  plugins/BEdita/Core/composer.json
Labels: Topic - Integration
