Repository bedita/bedita, pull requests merged in 2021-07, with the labels that each got.

#1800 Locked constraint logic
  plugins/BEdita/Core/src/Model/Action/DeleteObjectAction.php
  plugins/BEdita/Core/src/Model/Behavior/UniqueNameBehavior.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/DeleteObjectActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CategoriesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/HistoryBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UniqueNameBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
Labels: Topic - Core

#1803 chore: use phpcs XML conf
  composer.json
  phpcs.xml
Labels: Topic - Integration

#1798 Project model endpoint & command
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/Model/ProjectController.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/Core/src/Command/ProjectModelCommand.php
  plugins/BEdita/Core/src/Utility/ProjectModel.php
  plugins/BEdita/Core/tests/TestCase/Command/ProjectModelCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Topic - API, Topic - Core

#1805 Properties update utility
  plugins/BEdita/Core/src/Utility/Properties.php
  plugins/BEdita/Core/tests/TestCase/Utility/PropertiesTest.php
Labels: Topic - Integration

#1804 Format and validate JSON Schema properties (#1336)
  plugins/BEdita/API/tests/IntegrationTest/DefaultValuesTest.php
  plugins/BEdita/API/tests/IntegrationTest/NewObjectTypesTest.php
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertiesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/UploadControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/src/Command/CustomPropsCommand.php
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/tests/Fixture/ObjectsFixture.php
  plugins/BEdita/Core/tests/Fixture/PropertiesFixture.php
  plugins/BEdita/Core/tests/TestCase/Command/CustomPropsCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/MediaTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Priority - High, Topic - Core

#1806 fix: avoid unwanted `uname` change
  plugins/BEdita/Core/src/Command/CustomPropsCommand.php
Labels: Priority - High, Topic - Core

#1809 chore: add `date-time` to nullable formats
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
Labels: Topic - Core

#1808 Filter for custom properties
  plugins/BEdita/API/tests/IntegrationTest/CustomPropertiesFilterTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertiesControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/src/Model/Action/ListEntitiesAction.php
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/tests/Fixture/PropertiesFixture.php
  plugins/BEdita/Core/tests/Fixture/PropertyTypesFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListEntitiesActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ProfilesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/PropertiesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Priority - High, Topic - API, Topic - Core, Type - Enhancement

#1811 fix: avoid errors with options from other filters
  composer.json
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
Labels: Priority - High, Topic - API, Type - Bug

#1812 Upgrade to CakePHP 3.10
  composer.json
  plugins/BEdita/API/composer.json
  plugins/BEdita/Core/composer.json
  plugins/BEdita/Core/src/SingletonTrait.php
Labels: Priority - Normal, Type - Task

#1797 Release Makefile cleanup
  .github/workflows/components.yml
  Makefile
Labels: Topic - Integration

#1813 fix: add `RelatedObjects` to default bindings of BeditaSimpleStreamModel
  bedita-app/app_model.php
Labels: Priority - High, Topic - Core, Type - Bug
