Repository bedita/bedita, pull requests merged in 2022-07, with the labels that each got.

#1923 Introducing StatusBehavior (#1922) (v5)
  plugins/BEdita/API/tests/TestCase/Controller/TranslationsControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/ObjectModelBehavior.php
  plugins/BEdita/Core/src/Model/Behavior/StatusBehavior.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/TranslationsTable.php
  plugins/BEdita/Core/tests/Fixture/TranslationsFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/ObjectModelBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/StatusBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
Labels: Topic - Core, Topic - API

#1921 command to refresh streams metadata in database (v5)
  plugins/BEdita/Core/src/Model/Entity/Stream.php
  plugins/BEdita/Core/src/Shell/StreamsShell.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/StreamTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/StreamsShellTest.php
Labels: Topic - Core, Topic - Shell

#1926 Increase `links.url` maximum length (v4)
  composer.json
  plugins/BEdita/Core/config/Migrations/20220725115913_IncreaseLinksUrlMaxLength.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
Labels: Type - Enhancement, Topic - Database, Priority - Normal

#1927 Increase `links.url` maximum length (v5)
  plugins/BEdita/Core/config/Migrations/20220725115913_IncreaseLinksUrlMaxLength.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
Labels: Type - Enhancement, Topic - Database, Priority - Normal
