Repository bedita/bedita, pull requests merged in 2022-10, with the labels that each got.

#1942 Fix signup error for `draft` users
  plugins/BEdita/Core/src/Model/Action/SignupUserAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SignupUserActionTest.php
Labels: Type - Bug, Topic - Authentication, release:patch

#1943 Regex to validate internal resource names
  plugins/BEdita/API/tests/IntegrationTest/ResourceNamesValidationTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ObjectTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertyTypesControllerTest.php
  plugins/BEdita/Core/src/Model/Table/AuthProvidersTable.php
  plugins/BEdita/Core/src/Model/Table/EndpointsTable.php
  plugins/BEdita/Core/src/Model/Table/PropertiesTable.php
  plugins/BEdita/Core/src/Model/Table/PropertyTypesTable.php
  plugins/BEdita/Core/src/Model/Table/RelationsTable.php
  plugins/BEdita/Core/src/Model/Table/RolesTable.php
  plugins/BEdita/Core/src/Model/Validation/ObjectTypesValidator.php
  plugins/BEdita/Core/src/Model/Validation/Validation.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/RelationTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/PropertyTypesTableTest.php
Labels: Topic - Core

#1941 Remove deprecations and check via PHPStan
  composer.json
  plugins/BEdita/API/src/Controller/Admin/ApplicationsController.php
  plugins/BEdita/API/src/Controller/Admin/AsyncJobsController.php
  plugins/BEdita/API/src/Controller/Admin/ConfigController.php
  plugins/BEdita/API/src/Controller/Admin/EndpointPermissionsController.php
  plugins/BEdita/API/src/Controller/Admin/EndpointsController.php
  plugins/BEdita/API/src/Controller/AnnotationsController.php
  plugins/BEdita/API/src/Controller/ApplicationsController.php
  plugins/BEdita/API/src/Controller/ConfigController.php
  plugins/BEdita/API/src/Controller/FoldersController.php
  plugins/BEdita/API/src/Controller/Model/CategoriesController.php
  plugins/BEdita/API/src/Controller/Model/ObjectTypesController.php
  plugins/BEdita/API/src/Controller/Model/PropertiesController.php
  plugins/BEdita/API/src/Controller/Model/PropertyTypesController.php
  plugins/BEdita/API/src/Controller/Model/RelationsController.php
  plugins/BEdita/API/src/Controller/Model/TagsController.php
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Controller/ResourcesController.php
  plugins/BEdita/API/src/Controller/RolesController.php
  plugins/BEdita/API/src/Controller/StreamsController.php
  plugins/BEdita/API/src/Controller/TranslationsController.php
  plugins/BEdita/API/src/Controller/TrashController.php
  plugins/BEdita/API/src/Controller/UsersController.php
  plugins/BEdita/API/src/TestSuite/IntegrationTestCase.php
  plugins/BEdita/API/src/View/JsonApiView.php
  plugins/BEdita/Core/src/Command/FixHistoryCommand.php
  plugins/BEdita/Core/src/Command/TreeCheckCommand.php
  plugins/BEdita/Core/src/Command/TreeRecoverCommand.php
  plugins/BEdita/Core/src/Mailer/Email.php
  plugins/BEdita/Core/src/Mailer/Preview/UserMailerPreview.php
  plugins/BEdita/Core/src/Model/Behavior/StatusBehavior.php
  plugins/BEdita/Core/src/Shell/BeditaShell.php
  plugins/BEdita/Core/src/Shell/DbAdminShell.php
  plugins/BEdita/Core/src/Shell/JobsShell.php
  plugins/BEdita/Core/src/Shell/ResourcesShell.php
  plugins/BEdita/Core/src/Shell/StreamsShell.php
  plugins/BEdita/Core/src/Shell/Task/CheckApiKeyTask.php
  plugins/BEdita/Core/src/Shell/Task/CheckFilesystemTask.php
  plugins/BEdita/Core/src/Shell/Task/CheckSchemaTask.php
  plugins/BEdita/Core/src/Shell/Task/InitSchemaTask.php
  plugins/BEdita/Core/src/Shell/Task/SetupAdminUserTask.php
  plugins/BEdita/Core/src/Shell/Task/SetupConnectionTask.php
  plugins/BEdita/Core/tests/TestCase/Mailer/Transport/AsyncJobsTransportTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/ObjectModelBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectPermissionsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectPropertiesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/BeditaShellTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/JobsShellTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/ResourcesShellTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/StreamsShellTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/CheckApiKeyTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/CheckFilesystemTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/CheckSchemaTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/InitSchemaTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/SetupAdminUserTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/SetupConnectionTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/DatabaseTest.php
Labels: Topic - Code Quality, release:patch

#1947 Fix release action and generated docker image
  .github/workflows/release.yml
  plugins/BEdita/API/src/Controller/AppController.php
Labels: Type - Bug, release:patch

#1950 Add `filter-components` reusable workflow
  .github/workflows/components.yml
  .github/workflows/filter-components.yml
  .github/workflows/tests.yml
Labels: Topic - Integration

#1946 History include filter and related endpoints
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/HistoryController.php
  plugins/BEdita/API/tests/TestCase/Controller/HistoryControllerTest.php
  plugins/BEdita/Core/src/Model/Table/HistoryTable.php
Labels: Priority - Normal, Topic - API, release:minor

#1951 History include filter and related endpoints (v5)
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/HistoryController.php
  plugins/BEdita/API/tests/TestCase/Controller/HistoryControllerTest.php
  plugins/BEdita/Core/src/Model/Table/HistoryTable.php
Labels: Type - Enhancement, Topic - API

#1945 Use `name` as identifier in internal resources endpoints
  plugins/BEdita/API/src/Controller/ConfigController.php
  plugins/BEdita/API/src/Controller/Model/RelationsController.php
  plugins/BEdita/API/src/Controller/ResourcesController.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/ApplicationsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/EndpointsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ConfigControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertyTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/RelationsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/RolesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/StreamsControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/ResourceNameBehavior.php
  plugins/BEdita/Core/src/Model/Table/AppConfigTable.php
  plugins/BEdita/Core/src/Model/Table/ApplicationsTable.php
  plugins/BEdita/Core/src/Model/Table/EndpointsTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/PropertyTypesTable.php
  plugins/BEdita/Core/src/Model/Table/RelationsTable.php
  plugins/BEdita/Core/src/Model/Table/RolesTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/ResourceNameBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/AppConfigTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
Labels: Type - New Feature, Topic - API, release:minor
