Repository bedita/bedita, pull requests merged in 2022-12, with the labels that each got.

#1957 Folders children_order property and ListAssociatedAction custom sort for Children
  plugins/BEdita/API/tests/TestCase/Controller/FoldersControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertiesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertyTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/TreesControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20221201092959_AddChildrenOrder.php
  plugins/BEdita/Core/src/Model/Action/ListAssociatedAction.php
  plugins/BEdita/Core/src/Model/Table/FoldersTable.php
  plugins/BEdita/Core/tests/Fixture/PropertiesFixture.php
  plugins/BEdita/Core/tests/Fixture/PropertyTypesFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListAssociatedActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/BeditaShellTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/CheckSchemaTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/InitSchemaTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
  plugins/BEdita/Core/tests/Utility/CheckDriver.php
Labels: Topic - Core, Priority - High, Type - New Feature, Topic - API, release:minor

#1959 Folders children_order property and ListAssociatedAction custom sort for Children
  plugins/BEdita/API/tests/TestCase/Controller/FoldersControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/HistoryControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertiesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertyTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/TreesControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20221206063119_AddChildrenOrder.php
  plugins/BEdita/Core/src/Model/Action/ListAssociatedAction.php
  plugins/BEdita/Core/src/Model/Table/FoldersTable.php
  plugins/BEdita/Core/tests/Fixture/PropertiesFixture.php
  plugins/BEdita/Core/tests/Fixture/PropertyTypesFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListAssociatedActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Topic - Core, Priority - Normal, Type - New Feature, Topic - API, release:minor

#1962 Update major version on docker.com image
  .github/workflows/release.yml
Labels: Topic - Integration, release:patch

#1961 Add translations `type` filter
  plugins/BEdita/API/postman/BE5.postman_collection.json
  plugins/BEdita/Core/src/Model/Table/TranslationsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/TranslationsTableTest.php
Labels: Type - Enhancement, Topic - API, release:minor

#1960 Project model alphabetical order
  plugins/BEdita/API/tests/IntegrationTest/SortQueryStringTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/Core/src/Utility/ProjectModel.php
  plugins/BEdita/Core/tests/TestCase/Command/ProjectModelCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: release:patch

#1964 Allow `filter[name]` query string on `/config` and `/admin/config`
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/Core/src/Model/Table/ConfigTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ConfigTableTest.php
Labels: Type - Bug, Topic - API, release:patch

#1948 Introduce `read-only` custom props
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertiesControllerTest.php
  plugins/BEdita/Core/config/Migrations/20221026152339_ReadOnlyCustomProps.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/src/Model/Entity/JsonApiTrait.php
  plugins/BEdita/Core/tests/Fixture/PropertiesFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/JsonApiTraitTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Topic - API

#1963 Add Enqueue support to async jobs
  plugins/BEdita/API/src/App/BaseApplication.php
  plugins/BEdita/API/tests/TestCase/App/BaseApplicationTest.php
  plugins/BEdita/Core/composer.json
  plugins/BEdita/Core/src/Job/QueueJob.php
  plugins/BEdita/Core/src/Model/Table/AsyncJobsTable.php
  plugins/BEdita/Core/src/Shell/JobsShell.php
  plugins/BEdita/Core/tests/TestCase/Job/QueueJobTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/AsyncJobsTableTest.php
Labels: Topic - Core, Type - New Feature, Topic - Performance, release:minor
