Repository bedita/bedita, pull requests merged in 2022-04, with the labels that each got.

#1888 Tree integrity check
  plugins/BEdita/Core/src/Command/TreeCheckCommand.php
  plugins/BEdita/Core/src/Command/TreeRecoverCommand.php
  plugins/BEdita/Core/src/Model/Behavior/TreeBehavior.php
  plugins/BEdita/Core/src/Model/Table/TreesTable.php
  plugins/BEdita/Core/src/Shell/Task/CheckTreeTask.php
  plugins/BEdita/Core/src/Shell/Task/RecoverTreeTask.php
  plugins/BEdita/Core/src/Shell/TreeShell.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeCheckCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeRecoverCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/TreeBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/CheckTreeTaskTest.php
Labels: Type - Enhancement, Topic - Shell, Priority - Critical

#1892 Refactor before cake4 migration
  plugins/BEdita/API/src/Controller/MediaController.php
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/src/Model/Behavior/PriorityBehavior.php
  plugins/BEdita/Core/src/Model/Entity/User.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/RolesUsersTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SetRelatedObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/HistoryBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/JsonApiTraitTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/MediaTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/PropertiesTableTest.php
Labels: Topic - Core, Priority - Normal, Topic - Tests

#1886 Introduce InvalidDataException
  plugins/BEdita/API/src/Controller/Component/JsonApiComponent.php
  plugins/BEdita/API/src/Error/ExceptionRenderer.php
  plugins/BEdita/API/src/Exception/ExpiredTokenException.php
  plugins/BEdita/API/tests/TestCase/Error/ExceptionRendererTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/TokenMiddlewareTest.php
  plugins/BEdita/API/tests/TestCase/Model/Action/UpdateAssociatedActionTest.php
  plugins/BEdita/API/tests/TestCase/Utility/JWTHandlerTest.php
  plugins/BEdita/Core/src/Exception/InvalidDataException.php
  plugins/BEdita/Core/src/Exception/UserExistsException.php
  plugins/BEdita/Core/src/Model/Action/AddAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/AssociatedTrait.php
  plugins/BEdita/Core/src/Model/Action/ChangeCredentialsAction.php
  plugins/BEdita/Core/src/Model/Action/ChangeCredentialsRequestAction.php
  plugins/BEdita/Core/src/Model/Action/SaveEntityAction.php
  plugins/BEdita/Core/src/Model/Action/SetAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/SignupUserAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/AddAssociatedActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ChangeCredentialsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ChangeCredentialsRequestActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SaveEntityActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SetAssociatedActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SignupUserActionTest.php
Labels: Topic - Core

#1893 Ensure left and right fields are update when removing a tree entity
  plugins/BEdita/Core/src/Model/Behavior/TreeBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/TreeBehaviorTest.php
Labels: Type - Bug, Topic - Core, Priority - High

#1894 Cake 4 coding style
  plugins/BEdita/API/src/Controller/StreamsController.php
  plugins/BEdita/API/src/Event/CommonEventHandler.php
  plugins/BEdita/API/tests/TestCase/Error/ExceptionRendererTest.php
  plugins/BEdita/Core/src/Command/TreeCheckCommand.php
  plugins/BEdita/Core/src/Command/TreeRecoverCommand.php
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/src/Model/Behavior/HistoryBehavior.php
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeCheckCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeRecoverCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/ObjectModelBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/QueryCacheBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/TreeBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/StreamsShellTest.php
Labels: Topic - Integration, Topic - Code Quality

#1880 Fix/v4/thumb generator ext
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail/GlideGenerator.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/GlideGeneratorTest.php
  plugins/BEdita/Core/tests/thumbnails/e5afe167-7341-458d-a1e6-042e8791b0fe-bedita-logo.png/3608809475f146afa02d0bf6a5342a5e082eea45.png
  plugins/BEdita/Core/tests/thumbnails/e5afe167-7341-458d-a1e6-042e8791b0fe-bedita-logo.png/ef5b382f91ad45aff0e33b89e6677df31fcf6034.png
  plugins/BEdita/Core/tests/thumbnails/e5afe167-7341-458d-a1e6-042e8791b0fe-bedita-logo/3608809475f146afa02d0bf6a5342a5e082eea45.png
Labels: Type - Bug, Topic - Core, Priority - Low

#1609 Require protocol when validating URLs
  plugins/BEdita/Core/src/Model/Entity/Profile.php
  plugins/BEdita/Core/src/Model/Table/AuthProvidersTable.php
  plugins/BEdita/Core/src/Model/Validation/MediaValidator.php
  plugins/BEdita/Core/src/Model/Validation/ProfilesValidator.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ProfileTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/AuthProvidersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/MediaValidatorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/ProfilesValidatorTest.php
Labels: Type - Bug, Priority - High, Topic - API

#1898 Dirty props consistency in inheritance
  plugins/BEdita/Core/src/ORM/Inheritance/InheritanceEventHandler.php
  plugins/BEdita/Core/tests/TestCase/ORM/Inheritance/InheritanceEventHandlerTest.php
Labels: Type - Bug, Topic - Core, Priority - High, Topic - ORM
