Repository bedita/bedita, pull requests merged in 2022-06, with the labels that each got.

#1914 Migrate to PHPUnit 9.5
  composer.json
  phpunit.xml.dist
  plugins/BEdita/API/composer.json
  plugins/BEdita/API/src/Auth/EndpointAuthorize.php
  plugins/BEdita/API/src/TestSuite/IntegrationTestCase.php
  plugins/BEdita/API/tests/IntegrationTest/AdminResourcesTest.php
  plugins/BEdita/API/tests/IntegrationTest/AssociatedEntitiesTest.php
  plugins/BEdita/API/tests/IntegrationTest/CountQueryStringTest.php
  plugins/BEdita/API/tests/IntegrationTest/DateTimeTest.php
  plugins/BEdita/API/tests/TestCase/Auth/EndpointAuthorizeTest.php
  plugins/BEdita/API/tests/TestCase/Auth/OAuth2AuthenticateTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/AdminControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/ApplicationsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/AsyncJobsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/EndpointsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/AppControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Component/UploadComponentTest.php
  plugins/BEdita/API/tests/TestCase/Controller/FoldersControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ObjectTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertiesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertyTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/RelationsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/SchemaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ResourcesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/RolesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/SignupControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/StreamsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/TrashControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/UsersControllerTest.php
  plugins/BEdita/Core/composer.json
  plugins/BEdita/Core/src/I18n/MessagesFileLoader.php
  plugins/BEdita/Core/src/Job/ServiceRegistry.php
  plugins/BEdita/Core/src/Model/Validation/Validation.php
  plugins/BEdita/Core/tests/TestCase/Cache/Engine/LayeredEngineTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/FilesystemAdapterTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/FilesystemRegistryTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/ThumbnailTest.php
  plugins/BEdita/Core/tests/TestCase/I18n/MessagesFileLoaderTest.php
  plugins/BEdita/Core/tests/TestCase/Job/ServiceRegistryTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/BaseActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/CountRelatedObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/ObjectTypeBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UserModifiedBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/StreamTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ApplicationsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/EndpointPermissionsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/EndpointsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ProfilesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/PropertiesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/StaticPropertiesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/ValidationTest.php
  plugins/BEdita/Core/tests/TestCase/ORM/Inheritance/AssociationCollectionTest.php
  plugins/BEdita/Core/tests/TestCase/ORM/Inheritance/TableTest.php
  plugins/BEdita/Core/tests/TestCase/State/CurrentApplicationTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/DatabaseTest.php
Labels: Topic - Tests, Topic - Integration

#1915 Update exported project model format
  composer.json
  plugins/BEdita/API/tests/IntegrationTest/AssociatedEntitiesTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/RelationsBehavior.php
  plugins/BEdita/Core/src/ORM/Inheritance/Query.php
  plugins/BEdita/Core/src/Utility/ProjectModel.php
  plugins/BEdita/Core/src/Utility/Properties.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Topic - Core, Topic - Integration

#1916 Fix POST relation types
  plugins/BEdita/API/tests/TestCase/Controller/Model/RelationsControllerTest.php
  plugins/BEdita/Core/src/Model/Action/AssociatedTrait.php
  plugins/BEdita/Core/src/ORM/Inheritance/Query.php
  plugins/BEdita/Core/src/TestSuite/Fixture/TestFixture.php
Labels: Type - Bug, Topic - API

#1917 Fix POST relation types (v5)
  plugins/BEdita/API/tests/TestCase/Controller/Model/RelationsControllerTest.php
  plugins/BEdita/Core/src/Model/Action/AssociatedTrait.php
Labels: Type - Bug, Topic - API

#1918 feat: upgrade to CakePHP 4.4
  composer.json
  config/bootstrap.php
  plugins/BEdita/API/composer.json
  plugins/BEdita/API/src/App/BaseApplication.php
  plugins/BEdita/API/src/Controller/AppController.php
  plugins/BEdita/API/src/Controller/MediaController.php
  plugins/BEdita/API/src/Datasource/JsonApiPaginator.php
  plugins/BEdita/API/src/Error/ExceptionRenderer.php
  plugins/BEdita/API/src/Event/CommonEventHandler.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/RelationsControllerTest.php
  plugins/BEdita/Core/composer.json
  plugins/BEdita/Core/src/Command/FixHistoryCommand.php
  plugins/BEdita/Core/src/Model/Behavior/CustomPropertiesBehavior.php
  plugins/BEdita/Core/src/Model/Behavior/HistoryBehavior.php
  plugins/BEdita/Core/tests/TestCase/Command/CustomPropsCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/FixHistoryCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/ProjectModelCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeCheckCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeRecoverCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/BeditaShellTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/CheckSchemaTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/InitSchemaTaskTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/SetupConnectionTaskTest.php
Labels: Topic - Core, Topic - Integration

#1856 feat: add command to refresh streams metadata in database
  plugins/BEdita/Core/src/Model/Entity/Stream.php
  plugins/BEdita/Core/src/Shell/StreamsShell.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/StreamTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/StreamsShellTest.php
Labels: Topic - Core, Topic - Database

#1920 feat: introduce API and Core Plugin classes
  config/app.php
  config/bootstrap.php
  plugins/BEdita/API/config/bootstrap.php
  plugins/BEdita/API/src/APIPlugin.php
  plugins/BEdita/API/src/Event/CommonEventHandler.php
  plugins/BEdita/API/tests/IntegrationTest/AssociatedEntitiesTest.php
  plugins/BEdita/API/tests/IntegrationTest/CustomPropertiesFilterTest.php
  plugins/BEdita/API/tests/IntegrationTest/RelationshipsPriorityTest.php
  plugins/BEdita/API/tests/TestCase/APIPluginTest.php
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/StreamsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Event/CommonEventHandlerTest.php
  plugins/BEdita/API/tests/TestCase/TestSuite/IntegrationTestCaseTest.php
  plugins/BEdita/Core/config/bootstrap.php
  plugins/BEdita/Core/src/CorePlugin.php
  plugins/BEdita/Core/tests/TestCase/Command/CustomPropsCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/FilesystemRegistryTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/MediaTest.php
  plugins/BEdita/Core/tests/Utility/TestFilesystemTrait.php
  src/Application.php
Labels: Type - Task, Topic - Core, Priority - Normal, Topic - Tests
