Repository bedita/bedita, pull requests merged in 2022-03, with the labels that each got.

#1875 Highlight categories status in list
  bedita-app/views/elements/form_categories.tpl
Labels: Type - Enhancement, Topic - UI

#1871 Cake 4 API compatibility changes
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Auth/EndpointAuthorize.php
  plugins/BEdita/API/src/Controller/Admin/AdminController.php
  plugins/BEdita/API/src/Controller/Admin/ConfigController.php
  plugins/BEdita/API/src/Controller/AppController.php
  plugins/BEdita/API/src/Controller/ApplicationsController.php
  plugins/BEdita/API/src/Controller/Component/JsonApiComponent.php
  plugins/BEdita/API/src/Controller/Component/UploadComponent.php
  plugins/BEdita/API/src/Controller/ConfigController.php
  plugins/BEdita/API/src/Controller/HistoryController.php
  plugins/BEdita/API/src/Controller/HomeController.php
  plugins/BEdita/API/src/Controller/LoginController.php
  plugins/BEdita/API/src/Controller/MediaController.php
  plugins/BEdita/API/src/Controller/Model/SchemaController.php
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Controller/ResourcesController.php
  plugins/BEdita/API/src/Controller/SignupController.php
  plugins/BEdita/API/src/Controller/StatusController.php
  plugins/BEdita/API/src/Controller/StreamsController.php
  plugins/BEdita/API/src/Controller/TrashController.php
  plugins/BEdita/API/src/Controller/TreesController.php
  plugins/BEdita/API/src/Controller/UploadController.php
  plugins/BEdita/API/src/Datasource/JsonApiPaginator.php
  plugins/BEdita/API/src/Error/ErrorHandler.php
  plugins/BEdita/API/src/Error/ExceptionRenderer.php
  plugins/BEdita/API/src/Event/CommonEventHandler.php
  plugins/BEdita/API/src/Shell/SpecShell.php
  plugins/BEdita/API/src/TestSuite/IntegrationTestCase.php
  plugins/BEdita/API/src/View/JsonApiView.php
Labels: Topic - API, Topic - Integration

#1877 refactor: add void return type to initialize()
  plugins/BEdita/API/src/Controller/AppController.php
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Controller/ResourcesController.php
Labels: Type - Task, Topic - API

#1882 Fix migration CreateTagsTable
  plugins/BEdita/Core/config/Migrations/20220316140137_CreateTagsTable.php
Labels: Type - Bug, Topic - Core, Priority - High, Topic - ORM

#1885 Other minor Cake 4 compatibility changes
  plugins/BEdita/API/config/bootstrap.php
  plugins/BEdita/API/src/Controller/HistoryController.php
  plugins/BEdita/API/src/Controller/Model/ProjectController.php
  plugins/BEdita/API/src/Controller/Model/SchemaController.php
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Controller/ResourcesController.php
  plugins/BEdita/API/src/Model/Action/UpdateAssociatedAction.php
  plugins/BEdita/API/tests/TestCase/Model/Action/UpdateAssociatedActionTest.php
  plugins/BEdita/Core/src/Model/Entity/ObjectTag.php
  plugins/BEdita/Core/src/Model/Table/DateRangesTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectTagsTable.php
  plugins/BEdita/Core/src/ORM/Inheritance/InheritanceEventHandler.php
  plugins/BEdita/Core/src/ORM/Inheritance/Table.php
  plugins/BEdita/Core/src/Utility/ProjectModel.php
  plugins/BEdita/Core/tests/Fixture/TagsFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UniqueNameBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectRelationsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/SqlConventionsValidatorTest.php
  src/Application.php
  src/Shell/ConsoleShell.php
Labels: Topic - Core, Topic - Code Quality

#1887 Add user_preferences field to users table
  plugins/BEdita/API/tests/TestCase/Controller/AppControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/RolesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/UsersControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20220325142752_AddUserPreferences.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/User.php
  plugins/BEdita/Core/src/Model/Table/UsersTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/DeleteObjectActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SignupUserActionTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/JsonSchemaTest.php
Labels: Type - Enhancement, Topic - Core, Topic - Database, Priority - Normal

#1889 Update phpstan/phpstan to version 1.5
  .github/workflows/tests.yml
  .gitignore
  composer.json
  phpstan.neon.dist
  plugins/BEdita/API/src/Controller/LoginController.php
  plugins/BEdita/API/src/Controller/TreesController.php
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/TestCase/Controller/TreesControllerTest.php
  plugins/BEdita/Core/src/Command/FixHistoryCommand.php
  plugins/BEdita/Core/src/Filesystem/FilesystemRegistry.php
  plugins/BEdita/Core/src/Filesystem/ThumbnailRegistry.php
  plugins/BEdita/Core/src/Model/Action/SignupUserAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SignupUserActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/ObjectModelBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/QueryCacheBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectEntityTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/StreamsShellTest.php
Labels: Type - Task, Topic - Integration, Topic - Code Quality

#1883 Bedita Shell CleanupData task
  bedita-app/vendors/shells/bedita.php
  bedita-app/vendors/shells/tasks/cleanup_data.php
Labels: Topic - Shell, Priority - Normal

#1890 Treat phpdbg SAPI as cli
  plugins/BEdita/Core/config/bootstrap.php
Labels: Type - Task, Topic - Core, Priority - Normal
