Repository bedita/bedita, pull requests merged in 2022-02, with the labels that each got.

#1859 Token decode error
  plugins/BEdita/API/src/Middleware/TokenMiddleware.php
  plugins/BEdita/API/src/Utility/JWTHandler.php
  plugins/BEdita/API/tests/IntegrationTest/AuthenticationTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/TokenMiddlewareTest.php
  plugins/BEdita/API/tests/TestCase/Utility/JWTHandlerTest.php
Labels: Topic - Authentication, Topic - API

#1861 Skip auth token checks on OPTIONS request
  plugins/BEdita/API/src/Middleware/TokenMiddleware.php
  plugins/BEdita/API/tests/TestCase/Middleware/TokenMiddlewareTest.php
Labels: Topic - Authentication, Topic - API

#1862 ActionTrait in LoginController
  config/app.default.php
  plugins/BEdita/API/src/Controller/LoginController.php
Labels: Type - Enhancement, Priority - Normal, Topic - API

#1863 Mark join entity as new when it is a new association for source entity
  plugins/BEdita/Core/src/Model/Action/AssociatedTrait.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/AddRelatedObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SetRelatedObjectsActionTest.php
Labels: Type - Bug, Topic - Core, Priority - High

#1874 Dispatch `ObjectType.getSchema` event when building schema for an object type
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
Labels: Type - Enhancement, Topic - Core, Priority - Normal

#1865 JSON base controller
  plugins/BEdita/API/src/Controller/JsonBaseController.php
  plugins/BEdita/API/src/Controller/Model/ProjectController.php
  plugins/BEdita/API/src/Controller/Model/SchemaController.php
  plugins/BEdita/API/tests/TestCase/Controller/JsonBaseControllerTest.php
Labels: Topic - API
