Repository bedita/bedita, pull requests merged in 2022-05, with the labels that each got.

#1906 Avoid duplicate results with `?filter[ancestors]` [v5]
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/TestCase/Controller/FoldersControllerTest.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
Labels: Topic - Core

#1908 Admin endpoint_permissions
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/Admin/EndpointPermissionsController.php
  plugins/BEdita/Core/src/Model/Entity/EndpointPermission.php
Labels: Type - Enhancement, Priority - Normal, Topic - API

#1911 Set `intervention/image` version to avoid error with lowest-matching dependencies
  .github/workflows/tests.yml
  plugins/BEdita/Core/composer.json
Labels: Topic - Integration

#1904 Use new MiddlewareInterface
  plugins/BEdita/API/src/Middleware/AnalyticsMiddleware.php
  plugins/BEdita/API/src/Middleware/CorsMiddleware.php
  plugins/BEdita/API/src/Middleware/TokenMiddleware.php
  plugins/BEdita/API/tests/TestCase/Event/CommonEventHandlerTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/AnalyticsMiddlewareTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/CorsMiddlewareTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/TokenMiddlewareTest.php
  plugins/BEdita/Core/tests/Utility/TestRequestHandler.php
Labels: Topic - Core, Topic - Code Quality

#1910 Refactor: configuration layout, BaseApplication + other changes
  .gitignore
  bin/perms.sh
  cake4-migration.md
  composer.json
  config/.env.example
  config/app.php
  config/app_local.example.php
  config/bootstrap.php
  config/environment.sample.php
  config/paths.php
  config/requirements.php
  phpunit.xml.dist
  plugins/BEdita/API/spec/_main.yaml
  plugins/BEdita/API/spec/auth.yaml
  plugins/BEdita/API/spec/be4.yaml
  plugins/BEdita/API/spec/home.yaml
  plugins/BEdita/API/spec/roles.yaml
  plugins/BEdita/API/spec/status.yaml
  plugins/BEdita/API/spec/trash.yaml
  plugins/BEdita/API/spec/users.yaml
  plugins/BEdita/API/src/App/BaseApplication.php
  plugins/BEdita/API/src/Middleware/BodyParserMiddleware.php
  plugins/BEdita/API/src/Shell/SpecShell.php
  plugins/BEdita/API/tests/TestCase/App/BaseApplicationTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/AnalyticsMiddlewareTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/BodyParserMiddlewareTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/CorsMiddlewareTest.php
  plugins/BEdita/API/tests/TestCase/Middleware/TokenMiddlewareTest.php
  plugins/BEdita/API/tests/TestCase/Shell/SpecShellTest.php
  plugins/BEdita/API/tests/Utility/TestRequestHandler.php
  plugins/BEdita/Core/src/Command/CustomPropsCommand.php
  plugins/BEdita/Core/src/Command/FixHistoryCommand.php
  plugins/BEdita/Core/src/Command/ProjectModelCommand.php
  plugins/BEdita/Core/src/Command/TreeCheckCommand.php
  plugins/BEdita/Core/src/Command/TreeRecoverCommand.php
  plugins/BEdita/Core/src/Shell/Task/SetupConnectionTask.php
  plugins/BEdita/Core/tests/TestCase/Shell/BeditaShellTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/Task/SetupConnectionTaskTest.php
  src/Application.php
  src/Console/Installer.php
  src/Shell/ConsoleShell.php
  tests/TestCase/ApplicationTest.php
Labels: Topic - Plugins, Topic - API

#1913 Update composer dependencies (v5)
  composer.json
  config/app.php
  config/bootstrap.php
  plugins/BEdita/API/composer.json
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/StreamsControllerTest.php
  plugins/BEdita/Core/composer.json
  plugins/BEdita/Core/config/Seeds/DocumentsFakerSeed.php
  plugins/BEdita/Core/config/Seeds/EventsFakerSeed.php
  plugins/BEdita/Core/config/Seeds/LocationsFakerSeed.php
  plugins/BEdita/Core/config/Seeds/NewsFakerSeed.php
  plugins/BEdita/Core/config/Seeds/ProfilesFakerSeed.php
  plugins/BEdita/Core/config/Seeds/UsersFakerSeed.php
  plugins/BEdita/Core/src/Filesystem/Adapter/LocalAdapter.php
  plugins/BEdita/Core/src/Filesystem/FilesystemAdapter.php
  plugins/BEdita/Core/src/Filesystem/FilesystemRegistry.php
  plugins/BEdita/Core/src/Filesystem/GeneratorInterface.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail/AsyncGenerator.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail/GlideGenerator.php
  plugins/BEdita/Core/src/Filesystem/ThumbnailGenerator.php
  plugins/BEdita/Core/src/Model/Behavior/UploadableBehavior.php
  plugins/BEdita/Core/src/Model/Entity/Stream.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Adapter/LocalAdapterTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/FilesystemAdapterTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/FilesystemRegistryTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/GlideGeneratorTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/TestGenerator.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UploadableBehaviorTest.php
  plugins/BEdita/Core/tests/Utility/TestFilesystemTrait.php
Labels: Topic - Integration
