Repository bedita/bedita, pull requests merged in 2023-05, with the labels that each got.

#2008 Fix: full path name for service get
  plugins/BEdita/Core/src/Job/ServiceRegistry.php
  plugins/BEdita/Core/tests/TestCase/Job/ServiceRegistryTest.php
Labels: Type - Bug, Topic - Core, release:patch

#2010 Add column results to async_jobs
  plugins/BEdita/API/tests/TestCase/Controller/Admin/AsyncJobsControllerTest.php
  plugins/BEdita/Core/config/Migrations/20230508074242_AddAsyncJobsResults.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Job/QueueJob.php
  plugins/BEdita/Core/src/Model/Entity/AsyncJob.php
  plugins/BEdita/Core/src/Model/Table/AsyncJobsTable.php
  plugins/BEdita/Core/src/Shell/JobsShell.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/AsyncJobsTableTest.php
Labels: Type - Enhancement, Topic - Core, Priority - High, Topic - API

#2009 Introduce policy for object permissions
  plugins/BEdita/API/src/App/BaseApplication.php
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Model/Action/UpdateAssociatedAction.php
  plugins/BEdita/API/src/Policy/ObjectPolicy.php
  plugins/BEdita/API/src/Policy/ObjectsResolver.php
  plugins/BEdita/API/tests/IntegrationTest/AssociatedEntitiesTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Model/Action/UpdateAssociatedActionTest.php
  plugins/BEdita/API/tests/TestCase/Model/Action/UpdateRelatedActionTest.php
  plugins/BEdita/API/tests/TestCase/Policy/ObjectPolicyTest.php
  plugins/BEdita/API/tests/TestCase/Policy/ObjectsResolverTest.php
Labels: Type - Enhancement, Priority - Normal, Topic - API, release:minor

#2013 Authorize object locked by folder
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/src/Model/Action/UpdateAssociatedAction.php
  plugins/BEdita/API/src/Policy/ObjectPolicy.php
  plugins/BEdita/API/tests/IntegrationTest/AssociatedEntitiesTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Model/Action/UpdateAssociatedActionTest.php
  plugins/BEdita/API/tests/TestCase/Policy/ObjectPolicyTest.php
Labels: Type - Enhancement, Priority - Normal, Topic - API, release:minor, Topic - Authorization
