Repository bedita/bedita, pull requests merged in 2023-01, with the labels that each got.

#1965 Add Categories to Project Model definition
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/Core/src/Model/Entity/Category.php
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/src/Utility/ProjectModel.php
  plugins/BEdita/Core/src/Utility/Resources.php
  plugins/BEdita/Core/tests/TestCase/Command/ProjectModelCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CategoriesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/CategoryTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/CategoriesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Type - Enhancement, Topic - API, release:minor

#1966 Add `created` and `publish_start` cases to `Folders.children_order` property
  plugins/BEdita/API/tests/IntegrationTest/SortQueryStringTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertyTypesControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20230124110617_UpdateChildrenOrder.php
  plugins/BEdita/Core/tests/Fixture/PropertyTypesFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
Labels: Topic - Core, Priority - High, Topic - API, release:patch

#1967 Add `created` and `publish_start` cases to `Folders.children_order` property
  plugins/BEdita/API/tests/IntegrationTest/SortQueryStringTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/PropertyTypesControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20230124110617_UpdateChildrenOrder.php
  plugins/BEdita/Core/tests/Fixture/PropertyTypesFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
Labels: Topic - Core, Priority - Normal, Topic - API, release:patch

#1968 Show `object_type_name` in `/model/categories`
  plugins/BEdita/API/tests/IntegrationTest/TagsCategoriesTest.php
  plugins/BEdita/Core/src/Model/Entity/Category.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CategoriesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/CategoriesTableTest.php
Labels: Type - Bug, Priority - High, Topic - API, release:patch
