Repository bedita/bedita, pull requests merged in 2023-04, with the labels that each got.

#2000 Introduce object permissions in meta
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/config/Migrations/20230329121236_UpdateObjectPermissions.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/Folder.php
  plugins/BEdita/Core/src/Model/Entity/JsonApiTrait.php
  plugins/BEdita/Core/src/Model/Entity/ObjectEntity.php
  plugins/BEdita/Core/src/Model/Entity/ObjectPermission.php
  plugins/BEdita/Core/src/Model/Entity/Role.php
  plugins/BEdita/Core/src/Model/Table/FoldersTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectPermissionsTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/RolesTable.php
  plugins/BEdita/Core/tests/Fixture/ObjectPermissionsFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/FolderTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectEntityTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectPermissionsTableTest.php
Labels: Topic - Core, Priority - High, Type - New Feature, Topic - API, release:minor

#2001 Fix docker entrypoint perms for sqlite db
  Dockerfile
  docker-entrypoint.sh
Labels: Priority - High, Topic - Integration, release:patch

#2002 Fix docker perms for sqlite db and folder
  Dockerfile
  docker-entrypoint.sh
Labels: Priority - High, Topic - Integration

#2004 Descendant folder permissions in `meta.perms.descendant_perms_granted`
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/src/Model/Entity/Folder.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/FolderTest.php
Labels: Type - Enhancement, Priority - High, Topic - API, release:patch

#2006 Add endpoint to clone an existing stream
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/Component/UploadComponent.php
  plugins/BEdita/API/src/Controller/StreamsController.php
  plugins/BEdita/API/tests/TestCase/Controller/StreamsControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/UploadableBehavior.php
  plugins/BEdita/Core/src/Model/Entity/Stream.php
  plugins/BEdita/Core/src/Model/Table/StreamsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UploadableBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/StreamsTableTest.php
Labels: Topic - Core, Priority - High, Type - New Feature, Topic - API

#2003 Dockerfile PHP_VERSION 8.2
  Dockerfile
Labels: Type - Enhancement, Topic - Integration

#2005 Introduce object_permissions endpoint
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/postman/BE5.postman_collection.json
  plugins/BEdita/API/src/Controller/ObjectPermissionsController.php
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectPermissionsControllerTest.php
  plugins/BEdita/Core/src/Model/Entity/Folder.php
  plugins/BEdita/Core/src/Model/Entity/ObjectEntity.php
  plugins/BEdita/Core/src/Model/Entity/ObjectPermission.php
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/src/Model/Table/ObjectPermissionsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/FolderTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectEntityTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectPermissionsTableTest.php
Labels: Priority - Normal, Type - New Feature, Topic - API, release:minor

#2007 Add endpoint to clone an existing stream - BEdita 4
  composer.json
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/StreamsController.php
  plugins/BEdita/API/tests/TestCase/Controller/StreamsControllerTest.php
  plugins/BEdita/Core/src/Model/Behavior/UploadableBehavior.php
  plugins/BEdita/Core/src/Model/Entity/Stream.php
  plugins/BEdita/Core/src/Model/Table/StreamsTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UploadableBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/StreamsTableTest.php
Labels: Topic - Core, Type - New Feature, Topic - API, release:minor
