Repository bedita/bedita, pull requests merged in 2023-02, with the labels that each got.

#1970 Add name validation regex for category and tag
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/src/Model/Table/TagsTable.php
  plugins/BEdita/Core/src/Model/Validation/Validation.php
Labels: Type - Enhancement, Topic - Core, release:patch

#1971 Add name validation regex for category and tag
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/src/Model/Table/TagsTable.php
  plugins/BEdita/Core/src/Model/Validation/Validation.php
Labels: Type - Enhancement, Topic - Core, release:patch

#1973 Avoid injection of URLs or tags in `name`, `surname` or `username`
  plugins/BEdita/Core/src/Model/Validation/ProfilesValidator.php
  plugins/BEdita/Core/src/Model/Validation/UsersValidator.php
  plugins/BEdita/Core/src/Model/Validation/Validation.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/ProfilesValidatorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/UsersValidatorTest.php
Labels: Priority - High, Topic - Security, release:patch

#1976 Category and tag name validation: allow name starts with a lowercase letter or a number
  plugins/BEdita/Core/src/Model/Validation/Validation.php
Labels: Type - Bug, Topic - Core, Priority - High, release:patch

#1974 Add PHP 8.2 support
  .github/workflows/tests.yml
  README.md
  plugins/BEdita/API/src/Identifier/OTPIdentifier.php
  plugins/BEdita/Core/src/Configure/Engine/DatabaseConfig.php
  plugins/BEdita/Core/src/Job/QueueJob.php
  plugins/BEdita/Core/src/Mailer/Preview/UserMailerPreview.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeCheckCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeRecoverCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/ObjectModelBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/QueryCacheBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/StreamsShellTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/PropertiesTest.php
Labels: Topic - Integration, Topic - Code Quality

#1981 GitHub action ubuntu-latest
  .github/workflows/tests.yml
Labels: Topic - Tests

#1980 GitHub action ubuntu-latest
  .github/workflows/tests.yml
Labels: Topic - Tests

#1984 Return information about error of thumbnail generation
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/ThumbnailTest.php
Labels: Type - Enhancement, Topic - Core, Priority - Low, Type - New Feature, release:patch

#1983 Return information about error of thumbnail generation
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/ThumbnailTest.php
Labels: Type - Enhancement, Topic - Core, Priority - Low, Type - New Feature, release:patch

#1979 Handle `num_login_err` and `last_login_err` on authentication failure
  plugins/BEdita/API/src/Middleware/LoggedUserMiddleware.php
  plugins/BEdita/API/tests/TestCase/Controller/LoginControllerTest.php
  plugins/BEdita/Core/config/Migrations/20160930083942_Alpha.php
  plugins/BEdita/Core/src/Model/Table/UsersTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/UsersTableTest.php
Labels: Topic - Authentication, Topic - Security

#1975 Handle `translatable` objects and properties
  plugins/BEdita/API/tests/TestCase/Controller/HistoryControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ObjectTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/RelationsControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20230209112747_ObjectTypeTranslatable.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/Location.php
  plugins/BEdita/Core/src/Model/Entity/Media.php
  plugins/BEdita/Core/src/Model/Entity/ObjectEntity.php
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/src/Model/Entity/Profile.php
  plugins/BEdita/Core/src/Model/Entity/Property.php
  plugins/BEdita/Core/src/Model/Entity/Publication.php
  plugins/BEdita/Core/src/Model/Entity/StaticProperty.php
  plugins/BEdita/Core/src/Model/Table/ObjectTypesTable.php
  plugins/BEdita/Core/tests/Fixture/ObjectTypesFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectEntityTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ProfileTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/PropertyTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/PublicationTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/StaticPropertyTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectTypesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Topic - Core, Topic - API, release:minor
