Repository bedita/bedita, pull requests merged in 2023-07, with the labels that each got.

#2025 Handle `is_nullable` and `read_only` in `project_model`
  plugins/BEdita/Core/src/Utility/Properties.php
  plugins/BEdita/Core/tests/TestCase/Utility/PropertiesTest.php
Labels: Type - Bug, Topic - Core, release:patch

#2026 Use `readOnly` schema attribute if `read_only` property is true
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/src/Model/Entity/Property.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/PriorityBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/ObjectTypeTest.php
Labels: Type - Bug, Topic - Core, Priority - High, release:patch

#2023 Use search adapters in SearchableBehavior
  config/app.php
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/Core/src/Model/Behavior/ObjectModelBehavior.php
  plugins/BEdita/Core/src/Model/Behavior/SearchableBehavior.php
  plugins/BEdita/Core/src/Model/Table/AnnotationsTable.php
  plugins/BEdita/Core/src/Model/Table/ApplicationsTable.php
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/src/Model/Table/LocationsTable.php
  plugins/BEdita/Core/src/Model/Table/MediaTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectTypesTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsBaseTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/ProfilesTable.php
  plugins/BEdita/Core/src/Model/Table/PropertiesTable.php
  plugins/BEdita/Core/src/Model/Table/PropertyTypesTable.php
  plugins/BEdita/Core/src/Model/Table/RelationsTable.php
  plugins/BEdita/Core/src/Model/Table/RolesTable.php
  plugins/BEdita/Core/src/Model/Table/TagsTable.php
  plugins/BEdita/Core/src/Model/Table/TranslationsTable.php
  plugins/BEdita/Core/src/Model/Table/UsersTable.php
  plugins/BEdita/Core/src/Search/Adapter/SimpleAdapter.php
  plugins/BEdita/Core/src/Search/BaseAdapter.php
  plugins/BEdita/Core/src/Search/SimpleSearchTrait.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/SearchableBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Search/Adapter/SimpleAdapterTest.php
  plugins/BEdita/Core/tests/TestCase/Search/SimpleSearchTraitTest.php
Labels: Topic - Core, Priority - Normal, Type - New Feature

#2028 Fix return array in MailService
  plugins/BEdita/Core/src/Job/JobService.php
  plugins/BEdita/Core/src/Job/Service/MailService.php
  plugins/BEdita/Core/tests/TestCase/Job/Service/MailServiceTest.php
  plugins/BEdita/Core/tests/TestCase/Mailer/Transport/AsyncJobsTransportTest.php
Labels: Type - Bug, Topic - Core, Priority - High, release:patch

#2015 Use server time when filtering published objects
  plugins/BEdita/API/tests/IntegrationTest/PublishStartEndTest.php
  plugins/BEdita/Core/src/Model/Table/AsyncJobsTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/UserTokensTable.php
Labels: Type - Bug, Topic - Database, Priority - Normal, release:patch

#2016 Use server time when filtering published objects (4-🌵)
  plugins/BEdita/API/tests/IntegrationTest/PublishStartEndTest.php
  plugins/BEdita/Core/src/Model/Table/AsyncJobsTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/UserTokensTable.php
Labels: Type - Bug, Topic - Database, Priority - Normal, release:patch

#2027 Set `manager` as default application
  plugins/BEdita/Core/config/Migrations/20171027164507_DefaultApplication.php
Labels: Topic - Database, release:patch
