Repository bedita/bedita, pull requests merged in 2024-06, with the labels that each got.

#2070 Handle svg in thumbs
  plugins/BEdita/API/tests/IntegrationTest/CustomPropertiesFilterTest.php
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/IntegrationTest/PaginationTest.php
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail/GlideGenerator.php
  plugins/BEdita/Core/tests/Fixture/MediaFixture.php
  plugins/BEdita/Core/tests/Fixture/ObjectsFixture.php
  plugins/BEdita/Core/tests/Fixture/StreamsFixture.php
  plugins/BEdita/Core/tests/TestCase/Command/FixHistoryCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Event/ImageThumbsHandlerTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/GlideGeneratorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/UsersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/StreamsShellTest.php
  plugins/BEdita/Core/tests/uploads/a5xqx51s-3512-542x-r2t5-692x41956v0fs-sample.svg
Labels: Type - Bug, Topic - Core, Topic - API, release:patch

#2079 Return type of parent_id mutator
  plugins/BEdita/Core/src/Model/Entity/Folder.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/FolderTest.php
Labels: Type - Bug, Topic - Core, Priority - High, release:patch

#2081 feat(v5): max image resolution thumbnail
  config/app.php
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/IntegrationTest/PaginationTest.php
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/src/Filesystem/Thumbnail/GlideGenerator.php
  plugins/BEdita/Core/src/Model/Table/StreamsTable.php
  plugins/BEdita/Core/src/ORM/Inheritance/Table.php
  plugins/BEdita/Core/tests/Fixture/MediaFixture.php
  plugins/BEdita/Core/tests/Fixture/ObjectsFixture.php
  plugins/BEdita/Core/tests/Fixture/StreamsFixture.php
  plugins/BEdita/Core/tests/TestCase/Command/FixHistoryCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Event/ImageThumbsHandlerTest.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/GlideGeneratorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/UsersTableTest.php
  plugins/BEdita/Core/tests/TestCase/ORM/Inheritance/Query/InheritanceQueryTraitTest.php
  plugins/BEdita/Core/tests/TestCase/ORM/Inheritance/TableTest.php
  plugins/BEdita/Core/tests/TestCase/Shell/StreamsShellTest.php
  plugins/BEdita/Core/tests/uploads/7ffcb45e-4cc1-492e-9775-74ee6999503f-snow-on-white.jpg
  plugins/BEdita/Core/tests/uploads/eadc9cd3-b0ae-4e43-9251-9f44bd026793-snow-on-white.jpg
Labels: Type - Enhancement, Topic - Core, Priority - Low, release:minor

#2083 Remove stream(s) when deleting media
  plugins/BEdita/Core/src/Model/Table/MediaTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/MediaTableTest.php
Labels: Type - Bug, Topic - Core, release:patch
