Repository bedita/bedita, pull requests merged in 2024-04, with the labels that each got.

#2072 Reduce memory usage of `bin/cake thumbs`, add more flexibility through flags
  plugins/BEdita/Core/src/Command/ThumbsCommand.php
  plugins/BEdita/Core/tests/TestCase/Command/ThumbsCommandTest.php
Labels: Type - Enhancement, Topic - Shell, release:patch

#2074 Tests with php 8.3
  .github/workflows/tests.yml
  README.md
Labels: Topic - Tests

#2071 Categories and tags structure to store translations
  plugins/BEdita/API/tests/IntegrationTest/TagsCategoriesTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/config/Migrations/20220316140137_CreateTagsTable.php
  plugins/BEdita/Core/config/Migrations/20240409130149_CategoriesLabels.php
  plugins/BEdita/Core/config/Migrations/20240409130155_TagsLabels.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/Category.php
  plugins/BEdita/Core/src/Model/Entity/Tag.php
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/src/Model/Table/TagsTable.php
  plugins/BEdita/Core/src/Model/Validation/SqlConventionsValidator.php
  plugins/BEdita/Core/tests/Fixture/CategoriesFixture.php
  plugins/BEdita/Core/tests/Fixture/TagsFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListRelatedObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CategoriesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/CategoryTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/TagTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/CategoriesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/TagsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Topic - Core, Type - New Feature, release:minor
