Repository bedita/bedita, pull requests merged in 2024-07, with the labels that each got.

#2086 Recover categories tree command
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/IntegrationTest/TagsCategoriesTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/Core/src/Command/TreeCheckCommand.php
  plugins/BEdita/Core/src/Command/TreeRecoverCommand.php
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/tests/Fixture/CategoriesFixture.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeCheckCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeRecoverCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/CategoriesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Type - Enhancement, Topic - Shell, Priority - Low, release:minor

#2087 Add roots finder for categories
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/CategoriesTableTest.php
Labels: Type - Enhancement, Topic - Core, Priority - Normal, release:minor

#2089 chore: update deprecated method
  plugins/BEdita/Core/src/Model/Entity/Folder.php
  plugins/BEdita/Core/src/ORM/Association/RelatedTo.php
Labels: Topic - Core, Priority - High, Topic - Code Quality, release:patch

#2090 Do not skip thumbnail generation when stream size is unknown
  plugins/BEdita/Core/src/Filesystem/Thumbnail/GlideGenerator.php
  plugins/BEdita/Core/tests/TestCase/Filesystem/Thumbnail/GlideGeneratorTest.php
Labels: Type - Bug, Priority - Normal, release:patch
