Repository bedita/bedita, pull requests merged in 2024-11, with the labels that each got.

#2109 Introduce captions
  config/Migrations/schema-dump-default.lock
  plugins/BEdita/API/tests/IntegrationTest/CaptionsTest.php
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/IntegrationTest/PaginationTest.php
  plugins/BEdita/API/tests/TestCase/Controller/HomeControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/MediaControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ObjectTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestConstants.php
  plugins/BEdita/Core/config/Migrations/20241021145530_CreateCaptions.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Entity/Caption.php
  plugins/BEdita/Core/src/Model/Entity/ObjectEntity.php
  plugins/BEdita/Core/src/Model/Entity/ObjectType.php
  plugins/BEdita/Core/src/Model/Table/CaptionsTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/tests/Fixture/CaptionsFixture.php
  plugins/BEdita/Core/tests/Fixture/MediaFixture.php
  plugins/BEdita/Core/tests/Fixture/ObjectTypesFixture.php
  plugins/BEdita/Core/tests/Fixture/ObjectsFixture.php
  plugins/BEdita/Core/tests/TestCase/Command/FixHistoryCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Event/ImageThumbsHandlerTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/CustomPropertiesBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/CaptionsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectTypesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/UsersTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Topic - Core, Priority - Normal, Type - New Feature, Topic - API, release:minor

#2112 Cleanup unused variables in test cases
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SortRelatedObjectsActionTest.php
Labels: Type - Task, Priority - Low, Topic - Tests

#2115 Fix uname when source field is an HTML content
  plugins/BEdita/Core/src/Model/Behavior/UniqueNameBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UniqueNameBehaviorTest.php
Labels: Type - Enhancement, Topic - Core, release:patch

#2106 Clear cache before and after project_model command is executed
  plugins/BEdita/Core/src/Command/ProjectModelCommand.php
Labels: Topic - Core, Topic - Shell, release:patch

#2114 Config resources in project_model
  .github/workflows/tests.yml
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/Core/src/Utility/ProjectModel.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Type - Enhancement, Topic - Core, Topic - Shell, Topic - ORM, release:minor

#2116 Fix: captions sort by id
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
Labels: Type - Enhancement, Topic - Core, release:patch
