Repository bedita/bedita, pull requests merged in 2024-03, with the labels that each got.

#2065 Remove order in `project_model` command must be reversed
  plugins/BEdita/Core/src/Command/ProjectModelCommand.php
Labels: release:patch

#2022 Introduce search adapters
  .github/workflows/tests.yml
  config/app.php
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Admin/SysinfoControllerTest.php
  plugins/BEdita/Core/src/Command/BuildSearchIndexCommand.php
  plugins/BEdita/Core/src/Model/Behavior/ObjectModelBehavior.php
  plugins/BEdita/Core/src/Model/Behavior/SearchableBehavior.php
  plugins/BEdita/Core/src/Model/Table/AnnotationsTable.php
  plugins/BEdita/Core/src/Model/Table/ApplicationsTable.php
  plugins/BEdita/Core/src/Model/Table/CategoriesTable.php
  plugins/BEdita/Core/src/Model/Table/LocationsTable.php
  plugins/BEdita/Core/src/Model/Table/MediaTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectTypesTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsBaseTable.php
  plugins/BEdita/Core/src/Model/Table/ObjectsTable.php
  plugins/BEdita/Core/src/Model/Table/ProfilesTable.php
  plugins/BEdita/Core/src/Model/Table/PropertiesTable.php
  plugins/BEdita/Core/src/Model/Table/PropertyTypesTable.php
  plugins/BEdita/Core/src/Model/Table/RelationsTable.php
  plugins/BEdita/Core/src/Model/Table/RolesTable.php
  plugins/BEdita/Core/src/Model/Table/TagsTable.php
  plugins/BEdita/Core/src/Model/Table/TranslationsTable.php
  plugins/BEdita/Core/src/Model/Table/UsersTable.php
  plugins/BEdita/Core/src/Search/Adapter/SimpleAdapter.php
  plugins/BEdita/Core/src/Search/BaseAdapter.php
  plugins/BEdita/Core/src/Search/SearchRegistry.php
  plugins/BEdita/Core/src/Search/SimpleSearchTrait.php
  plugins/BEdita/Core/tests/TestCase/Command/BuildSearchIndexCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/SearchableBehaviorTest.php
  plugins/BEdita/Core/tests/TestCase/Search/Adapter/SimpleAdapterTest.php
  plugins/BEdita/Core/tests/TestCase/Search/SearchRegistryTest.php
  plugins/BEdita/Core/tests/TestCase/Search/SimpleSearchTraitTest.php
Labels: Topic - Core, Priority - Normal, Type - New Feature, release:minor

#2066 Image Thumbnails command and event handler
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/TestCase/Controller/HomeControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ObjectTypesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/Model/ProjectControllerTest.php
  plugins/BEdita/Core/src/Command/AsyncJobsCleanCommand.php
  plugins/BEdita/Core/src/Command/ObjectsDeleteCommand.php
  plugins/BEdita/Core/src/Command/ThumbsCommand.php
  plugins/BEdita/Core/src/Event/ImageThumbsHandler.php
  plugins/BEdita/Core/tests/Fixture/ObjectTypesFixture.php
  plugins/BEdita/Core/tests/TestCase/Command/AsyncJobsCleanCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/ObjectsDeleteCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/ThumbsCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Event/ImageThumbsHandlerTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectTypesTableTest.php
  plugins/BEdita/Core/tests/TestCase/Utility/ProjectModelTest.php
Labels: Topic - Core, Type - New Feature, release:minor

#2068 OAuth2: verify token via callback and add authenticator/identifier config
  plugins/BEdita/API/src/App/BaseApplication.php
  plugins/BEdita/API/src/Identifier/OAuth2Identifier.php
  plugins/BEdita/API/tests/TestCase/Identifier/OAuth2IdentifierTest.php
  plugins/BEdita/Core/src/Model/Action/SignupUserAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SignupUserActionTest.php
Labels: Type - Enhancement, release:minor

#2069 Search default configuration load by bootstrap
  plugins/BEdita/Core/config/bootstrap.php
Labels: Type - Enhancement, Topic - Core, release:patch

#2067 Add multi-column index on NSM left/right indexes, force MySQL to use it using optimizer hint
  plugins/BEdita/Core/config/Migrations/20240314101914_AddNsmMultiColumnIndex.php
  plugins/BEdita/Core/config/Migrations/schema-dump-default.lock
  plugins/BEdita/Core/src/Model/Table/TreesTable.php
Labels: Type - Enhancement, Topic - Database, Priority - High, Topic - Performance, release:patch
