Repository bedita/bedita, pull requests merged in 2024-10, with the labels that each got.

#2099 Add column `params` to table `Trees`
  config/app_local.example.php
  plugins/BEdita/API/tests/IntegrationTest/ChildrenRelationshipTest.php
  plugins/BEdita/API/tests/IntegrationTest/ParentsRelationshipTest.php
  plugins/BEdita/Core/config/Migrations/20240930121402_TreesAddParams.php
  plugins/BEdita/Core/src/Model/Entity/Tree.php
  plugins/BEdita/Core/src/Model/Table/TreesTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/JsonApiTraitTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/TreesTableTest.php
Labels: Type - Enhancement, Topic - Core, Topic - Database, Priority - Normal, release:minor

#2101 fix: mark related entities as non-primary
  plugins/BEdita/Core/src/Model/Action/AddAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/AddRelatedObjectsAction.php
  plugins/BEdita/Core/src/Model/Action/AssociatedTrait.php
  plugins/BEdita/Core/src/Model/Action/RemoveAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/SetAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/SetRelatedObjectsAction.php
  plugins/BEdita/Core/src/Model/Behavior/SearchableBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/SearchableBehaviorTest.php
Labels: Type - Bug, Priority - High, Topic - ORM, release:patch

#2103 Fix wrong validation for numeric uname
  plugins/BEdita/API/tests/IntegrationTest/UniqueNameTest.php
  plugins/BEdita/Core/src/Model/Validation/ObjectsValidator.php
  plugins/BEdita/Core/src/Model/Validation/Validation.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Validation/ObjectsValidatorTest.php
Labels: Type - Bug, Priority - Critical, release:patch

#2102 Sort object relationship related data
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/postman/BE5.postman_collection.json
  plugins/BEdita/API/src/Controller/ObjectsController.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/Core/src/Model/Action/ListAssociatedAction.php
  plugins/BEdita/Core/src/Model/Action/SortRelatedObjectsAction.php
  plugins/BEdita/Core/src/Model/Behavior/PriorityBehavior.php
  plugins/BEdita/Core/tests/TestCase/Command/AsyncJobsCleanCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/ObjectsHistoryCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListAssociatedActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/SortRelatedObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/MediaTableTest.php
Labels: Type - Enhancement, Type - New Feature, Topic - API, release:minor

#2107 Add commands to manage users external authentication records
  plugins/BEdita/Core/src/Command/UserExternalAuthAddCommand.php
  plugins/BEdita/Core/src/Command/UserExternalAuthListCommand.php
  plugins/BEdita/Core/src/Command/UserExternalAuthRemoveCommand.php
  plugins/BEdita/Core/tests/TestCase/Command/UserExternalAuthCommandsTest.php
Labels: Type - Enhancement, Topic - Core, Topic - Shell, Priority - Normal, release:patch

#2104 Adds support for configuration to use multiple Search adapters
  plugins/BEdita/Core/src/Model/Behavior/SearchableBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/SearchableBehaviorTest.php
Labels: Type - Enhancement, Topic - Core, release:minor
