Repository bedita/bedita, pull requests merged in 2025-01, with the labels that each got.

#2121 Fix clone translations
  plugins/BEdita/Core/src/Model/Action/CloneObjectAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/CloneObjectActionTest.php
Labels: Type - Bug, Topic - Core, release:patch

#2123 Fix regenerate unique name when is numeric
  plugins/BEdita/API/tests/IntegrationTest/UniqueNameTest.php
  plugins/BEdita/Core/src/Model/Behavior/UniqueNameBehavior.php
  plugins/BEdita/Core/tests/TestCase/Model/Behavior/UniqueNameBehaviorTest.php
Labels: Type - Bug, Topic - Core, release:patch

#2125 Set uname null on clone
  plugins/BEdita/Core/src/Model/Action/CloneObjectAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/CloneObjectActionTest.php
Labels: Type - Bug, Topic - Core, release:patch

#2124 Add auth provider username array filter for external atuh
  plugins/BEdita/API/tests/IntegrationTest/FilterQueryStringTest.php
  plugins/BEdita/API/tests/IntegrationTest/PaginationTest.php
  plugins/BEdita/API/tests/TestCase/Controller/AppControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ObjectsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/ResourcesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/RolesControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/UsersControllerTest.php
  plugins/BEdita/API/tests/TestCase/View/JsonApiViewTest.php
  plugins/BEdita/Core/src/Command/ObjectsHistoryCommand.php
  plugins/BEdita/Core/src/Model/Entity/AuthProvider.php
  plugins/BEdita/Core/src/Model/Table/UsersTable.php
  plugins/BEdita/Core/tests/Fixture/ExternalAuthFixture.php
  plugins/BEdita/Core/tests/Fixture/ObjectsFixture.php
  plugins/BEdita/Core/tests/Fixture/ProfilesFixture.php
  plugins/BEdita/Core/tests/Fixture/RolesUsersFixture.php
  plugins/BEdita/Core/tests/Fixture/UsersFixture.php
  plugins/BEdita/Core/tests/TestCase/Command/CustomPropsCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Command/FixHistoryCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Event/ImageThumbsHandlerTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListObjectsActionTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/JsonApiTraitTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ExternalAuthTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/ObjectsTableTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/UsersTableTest.php
Labels: Topic - Core, Priority - Normal, Type - New Feature, Topic - API, release:patch

#2126 Fix clone entity preserve original `HasMany` associations (i.e. date_ranges)
  plugins/BEdita/Core/src/Model/Action/CloneObjectAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/CloneObjectActionTest.php
Labels: Type - Bug, Topic - Core, Priority - High, release:patch

#2127 Fix ObjectsDeleteCommand
  plugins/BEdita/Core/src/Command/ObjectsDeleteCommand.php
  plugins/BEdita/Core/tests/TestCase/Command/ObjectsDeleteCommandTest.php
Labels: Type - Bug, Topic - Shell, Priority - High, release:patch
