Repository bedita/bedita, pull requests merged in 2025-02, with the labels that each got.

#2128 Reset created, modified, created_by and modified_by on clone
  plugins/BEdita/Core/src/Model/Action/CloneObjectAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/CloneObjectActionTest.php
Labels: Type - Bug, Topic - Core, release:patch

#2129 Cast to array or string nullable `auth_providers` fields
  plugins/BEdita/API/src/App/BaseApplication.php
Labels: release:patch

#2131 Improve queue system setting delay and expires
  plugins/BEdita/API/tests/TestCase/Controller/Admin/AsyncJobsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/AsyncJobsControllerTest.php
  plugins/BEdita/Core/src/Job/QueueJob.php
  plugins/BEdita/Core/src/Model/Table/AsyncJobsTable.php
  plugins/BEdita/Core/tests/Fixture/AsyncJobsFixture.php
  plugins/BEdita/Core/tests/TestCase/Job/QueueJobTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/AsyncJobsTableTest.php
Labels: Type - Bug, Topic - Core, Priority - High, release:patch
