Repository bedita/bedita, pull requests merged in 2025-03, with the labels that each got.

#2132 Tree slugs and new tree_paths endpoint
  plugins/BEdita/API/config/routes.php
  plugins/BEdita/API/src/Controller/TreePathsController.php
  plugins/BEdita/API/tests/IntegrationTest/ChildrenRelationshipTest.php
  plugins/BEdita/API/tests/IntegrationTest/ParentsRelationshipTest.php
  plugins/BEdita/API/tests/TestCase/Controller/FoldersControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/TreePathsControllerTest.php
  plugins/BEdita/API/tests/TestCase/Controller/TreesControllerTest.php
  plugins/BEdita/Core/config/Migrations/20250224101936_TreesAddSlug.php
  plugins/BEdita/Core/src/Model/Entity/Folder.php
  plugins/BEdita/Core/src/Model/Entity/Tree.php
  plugins/BEdita/Core/src/Model/Table/TreesTable.php
  plugins/BEdita/Core/tests/Fixture/TreesFixture.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/FolderTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Entity/JsonApiTraitTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/TreesTableTest.php
  tests/bootstrap.php
Labels: Topic - Core, Priority - Low, Type - New Feature, Topic - API, release:minor

#2134 Sorting children by publish start falls back to creation date
  plugins/BEdita/Core/src/Model/Action/ListAssociatedAction.php
  plugins/BEdita/Core/src/Model/Table/FoldersTable.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/FoldersTableTest.php
Labels: Type - Bug, Topic - Database, Priority - High

#2136 Use object's uname as default slug unless one was passed
  plugins/BEdita/Core/config/Migrations/20250224101936_TreesAddSlug.php
  plugins/BEdita/Core/config/Migrations/20250318131739_TreesSlugNotNullable.php
  plugins/BEdita/Core/src/Model/Table/TreesTable.php
  plugins/BEdita/Core/tests/TestCase/Command/TreeCheckCommandTest.php
  plugins/BEdita/Core/tests/TestCase/Model/Table/TreesTableTest.php
Labels: Type - Bug, Topic - Core, Priority - High, release:patch

#2138 Sort of children association
  plugins/BEdita/Core/src/Model/Action/ListAssociatedAction.php
  plugins/BEdita/Core/tests/TestCase/Model/Action/ListAssociatedActionTest.php
Labels: Type - Bug, Topic - Core, Priority - High, Topic - ORM, release:patch
